body      { background-color:#101010; }

.tble     { display:table }

.row      { display: table-row }
         
.tcell    { width:50px;
            float: left }                   

.cell     { border-radius:0px 5px 5px 0px;
           background-image:linear-gradient(45deg, yellow 0%, #990000 90%);
           height: 10px !important;
           margin-left:60px }                   

.sun      { font-size:12px;
           color:yellow;
           font-weight:bold }

.time     { font-size:9px;
           margin-left:25px;
           margin-right:5px;
           color:#fafafa;
           float:right }

.kwatt    { font-size:10px;
            margin-left:10px;
            color:#a0a0a0; 
            float:left }

.peak     { margin-left:9px;
           float:right;
           color:#fafafa;
           font-size:9px; 
           margin-right:2px }
